@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Leaflet map styles */
.leaflet-container {
  height: 100%;
  width: 100%;
}
